{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Meeps</h1><br>
                {% for meep in meeps %}
                <div class="card bg-secondary text-white mb-3">
                    <div class="row g-0">
                        <div class="col-2">
                            {% if meep.user.profile.profile_image %}
                            <img src="{{ meep.user.profile.profile_image.url }}" width=70 height=70 class="" style="border-radius:50%" alt="{{ profile.user.username }}">
                            {% else %}
                            <img src="{% static 'images/profile_img.png' %}" width=50 height=50 class="img-fluid rounded-circle" alt="Profile Image">
                            {% endif %}
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <p class="card-text">{{ meep.body }}</p>
                                <small class="text-muted">
                                    {{ meep.created_at }} By @{{ meep.user.username }}
                                    - {{ meep.number_of_likes }}
                                    {% if user in meep.likes.all %}
                                    <a href="{% url 'meep_like' meep.id %}" class="text-decoration-none text-primary" style="font-size: 30px;">
                                        &#9829;
                                    </a>
                                    {% else %}
                                    <a href="{% url 'meep_like' meep.id %}" class="text-decoration-none text-primary" style="font-size: 30px;">
                                        &#9825;
                                    </a>
                                    {% endif %}
                                    <a href="{% url 'meep_show' meep.id %}" class="text-decoration-none text-danger" style="font-size: 30px;">
                                        &#x27A6;
                                    </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-4">
                <br><br/><br>
                {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-light">Meep</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
